/*!
 * Define the global theme color
 */


.badge,
.btn-link,
.btn-link:focus,
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active,
.floating-label-form-group-with-focus label  {
/*    color: #18bc9c;*/
    color:  #472a54;
}

.table>thead>tr>td.success,
.table>tbody>tr>td.success,
.table>tfoot>tr>td.success,
.table>thead>tr>th.success,
.table>tbody>tr>th.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>tbody>tr.success>td,
.table>tfoot>tr.success>td,
.table>thead>tr.success>th,
.table>tbody>tr.success>th,
.table>tfoot>tr.success>th,
.has-success .input-group-addon,
.navbar-inverse,
hr.star-light:after {
/*    background-color: #18bc9c;*/
    background-color: #472a54;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active,
.btn-success {
/*    background-color: #18bc9c;*/
/*    border-color: #18bc9c;*/
    background-color: #472a54;
    border-color: #472a54;
}

header,
section.success  {
/*    background: #18bc9c;*/
    background: #472a54;
}

/* 
 * Sometimes the theme color is to dark
 * We need to lighten it a little 
 * when its over a black background
 */
a,
a:hover,
a:focus,
a:active,
a.active,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-link:hover,
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus
{
/*    color: #18bc9c;*/
    color: #a672bc;
}
