 <!-- About Section -->
<section class="success" id="about">
  <img href="{{ "img/favicon/mstile-144x144.png" | prepend: site.baseurl }}" />
  <img href="{{ "img/logo.png" | prepend: site.baseurl }}"/>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>{{  site.description }}</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/OPMDG/opmdg.github.io/releases/download/REL_2_3/OPM_2_3.zip" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download release 2.3
        </a>
	&nbsp;
	<a href="http://opm.readthedocs.io/" class="btn btn-lg btn-outline">
	  <i class="fa fa-book"></i> Read The Doc
	</a> 
     </div>
    </div>
  </div>
</section>
