<!-- About Section -->
<section class="success" id="code">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Code</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>OPM is available under the PostgreSQL license. You are allowed to download, use and modify this software, as long as you maintain the copyright notice</p>
      </div>
      <div class="col-lg-4">
        <p>
          OPM is a monitoring suite that includes remote agents, a stat storage system and a web GUI.
          Most of the code is currently in Perl and the stat collection is based on Nagios, but the whole
          suite is designed to be extended to other monitoring framewroks and other langages.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download
        </a>
        &nbsp;
        <a href="https://github.com/OPMDG/opm-doc/wiki/Installation" class="btn btn-lg btn-outline">
          <i class="fa fa-flash"></i> Install
        </a>
        &nbsp;
        <a href="#" class="btn btn-lg btn-outline">
          <i class="fa fa-github"></i> Fork
        </a>
      </div>
    </div>
  </div>
</section>
